@font-face{font-family:lora-regular;src:url(../font/Lora-Regular.ttf);}
@font-face{font-family:lora-bold;src:url(../font/Lora-Bold.ttf);}
html, body {height: 100%;min-height: 100%;}
.main {
    background: #016d46;
    min-height: 100%;
    background-image: url(../img/Tsardom of russia emblem.png);
    background-repeat: no-repeat;
    background-position: center;
    font-family:lora-regular;
    position: relative;
    overflow: hidden;
}
.container {
    width:800px;
    height:100%;
    margin: 0 auto;
    position:relative
}
.year {
    color:#fff;
    font-size:50px;
    text-align:center;
    padding-top: 50px;
    margin-bottom: -50px;
}
.year span{display: none;}

.container .svg {
    position: relative;
    width: 590px;
    margin: 0 auto;
    height: 670px;
}
.container .svg > span{
    position: absolute;
    color:#fff;
    font-size:18px;
}
.container .svg > span.start {
    top: 332px;
    left: 0px;
}
.container .svg > span.end {
    top: 332px;
    right: -100px;
}
.container .svg > span.end a {
    color: #fff;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.container .svg > span.end a.visible {
    opacity: 1;
    visibility: visible;
}


    .toggle-button {
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
}

.details {
    color: #fff;
    font-size: 20px;
    width: 392px;
    position: absolute;
    bottom: 30px;
    right: 0px;
    line-height: 26px;
}
.details > div{
    display: none;
}
.details > div > p:first-child{
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
}

.map {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    overflow: hidden;
    width: 410px;
    perspective: 1000px;
    transform-style: preserve-3d;
    border: 10px solid #6e9084;
    transform: translate(-30%, 40%);
}

#vmap {
    width: 424px;
    height: 400px;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    top: -30px;
    background: url(../img/Russia-map-1547.png);
    background-size: 155%;
    background-position: -209px 18px;
}
